@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.vector-art {
    width: 400px;
    height: 400px;
    margin-right: 100px;
    background-size: cover;
}

.container {
    width: 440px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h2 {
    font-weight: 300;
    color: rgb(82, 80, 80);
    text-align: center;
    margin-top: -6px;
    margin-bottom: 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 4px;
    padding-bottom: 12px;
    position: relative;
}

.form-control label {
    font-size: 14px;
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    font-family: inherit;
    background-color: #f1f1f1;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;

    transition: all .2s;
}

.form-control input:focus {
    outline: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    animation-name: ErrorAnimation;
    animation-duration: 0.5s;
    border-color: var(--error-color);
}

.form-control small {
    font-size: 10px;
    color: var(--error-color);
    position: absolute;
    bottom: -2px;
    left: 2px;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;

    transition: all 0.2s;
}

.form button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes ErrorAnimation {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }
    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }
    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }
    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }
    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }
    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }
    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}
